.App {
  text-align: center;
  margin-top: -3.475vh;
  /* background-color: #252626; */
  min-height: 100vh;
  color: rgb(204, 255, 211)
}

.nav-style > ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.nav-style {
  width: 200px;
}

.home {
  background-image: url('/images/headshotB&W.png');
  background-size: cover;
  max-height: 100%;
  max-width: 100%;
}

/** --- TYPOGRAPHY --- **/

h1 {
	font-family: Helvetica;
	font-size: 3em;
}

/** --- MENU STYLES --- **/

.block  {
	display: table;
	height: 70px;
	width: 70px;
	text-align: center;
	cursor: pointer;
  transition: all 0.6s ease;
  border-style: none;
}

.home-button,
.about-button,
.skills-button,
.myWork-button,
.contact-button
 {
	background: #181818;
	color: #56cd56;
	transition: all 0.6s ease;
}

.headshot {
  width: 4vw; 
  margin-bottom: 10vw;
}

.home-pic {
  height: 5vh;
}

.about,
.skills,
.myWork,
.contact {
	background: #181818;
	color: #abadb3;
	transition: all 0.6s ease;
}

/** --- ANIMATIONS --- **/

.block:hover {
	color: #d0e9fb;
	border-left: solid 10px #d0fbd4;
}

.home-button:hover {
  background: #7a7a7a;
	color: #ebecee;
	border-left: solid 10px #d0fbd4;
}

.about-button:hover,
.skills-button:hover,
.myWork-button:hover,
.contact-button:hover {
	background: #47ae2c;
	color: #ebecee;
  border-left: solid 10px #d0fbd4;
}

.navi {
  background: #181818;
  width: 70px;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 3;
  min-height: 500px;
}

.socialMediaIconsDiv {
  padding-top: 5vw;
}

.socialMediaIcons {
  width: 3vw;
}

.gitHubIcons {
  width: 2.6vw;
}

.home-content {
  background-image: url('/images/headshotB&W.png');
  background-size: cover;
  height: 100vh;
}


/* ------------------------------ */
.ml12 {
  font-weight: 1000;
  font-size: 3em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  color: #ffffff;
  background-color: #00000060;
  border-radius: 1.25vw;
  width: 50vw;
  margin-left: 49.5vw;
  text-shadow: 0px 2px 2px #57ee31;
  box-shadow: 0px 7.5px 7.5px #10f82fa8;
}

.ml12 .letter {
  display: inline-block;
  line-height: 1em;
}

h1.ml8 {
  font-weight: 900;
  font-size: 4.5em;
  color: #11f930;
  width: 5em;
  height: 5em;
}


.ml8 .letters-container {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  height: 1em;
}

.ml8 .letters {
  position: relative;
  z-index: 2;
  display: inline-block;
  line-height: 0.7em;
  right: -0.12em;
  top: -0.2em;
}

.ml8 .bang {
  font-size: 1.4em;
  top: auto;
  left: -0.06em;
}

.ml8 .circle {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: 50vw;
  top: 0;
  bottom: 0;
}

.ml8 .circle-white {
  width: 3em;
  height: 3em;
  border: 2px dashed white;
  border-radius: 2em;
  margin-left: 75vw;
  margin-top: 52.5vh;
}

.ml8 .circle-dark {
  width: 2.2em;
  height: 2.2em;
  background-color: #18181883;
  border-radius: 3em;
  z-index: 1;
  margin-left: 77vw;
  margin-top: 55vh;
}

.ml8 .circle-dark-dashed {
  border-radius: 2.4em;
  background-color: transparent;
  border: 2px dashed #11f930;
  width: 2.3em;
  height: 2.3em;
  margin-left: 26.7vw;
  margin-top: 54.5vh;
}

.msgme {
  width: 5vw;
  margin-left: 62.5vw;
  margin-top: 14vh;
}

.ml16 {
  color: #ffffff;
  padding: 40px 0;
  font-weight: 800;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  overflow: hidden;
  text-shadow: 0px 2px 2px #57ee31;
  margin-left: 65vw;
  margin-top: 45vh;
}

.ml16 .letter {
  display: inline-block;
  line-height: 1em;
}

.about-page {
  height: 113vh;
  background: #242323;
	color: #00b300;
}

.aboutHeadshot {
  height: 25vh;
  margin-top: 7vh;
  border-radius: 10vh;
  box-shadow: 0px 0px 25px #57ee31;
}

.about-header {
  text-shadow: 0px 3px 5px #ffffffb6;
}

.subHeader {
  font-size: 3vh;
}

.contentDiv {
  display: flex;
  justify-content: center;
  width: 40vw;
  padding-left: 30vw;
  color: #ffffff;
}

#wrapper {
	width: 960px;
	margin: 0 auto;
}

#wrapper {
  perspective: 2500;
	-webkit-perspective: 2500;
	width: 800px;
	margin: 75px auto 0 auto;
  perspective-origin: 50% 150px;
	-webkit-perspective-origin: 50% 150px;
  transition: perspective, 1s;
  -o-transition: -o-perspective, 1s;
  -moz-transition: -moz-perspective, 1s;
	-webkit-transition: -webkit-perspective, 1s;
}

#image:hover {
  animation-play-state:paused;
  -o-animation-play-state:paused;
  -moz-animation-play-state:paused;
	-webkit-animation-play-state:paused;
}


@-webkit-keyframes spin {
	from {
    transform: rotateY(0);
    -o-transform: rotateY(0);
    -ms-transform: rotateY(0);
    -moz-transform: rotateY(0);
		-webkit-transform: rotateY(0);
	}
	to {
    transform: rotateY(-360deg);
    -o-transform: rotateY(-360deg);
    -ms-transform: rotateY(-360deg);
    -moz-transform: rotateY(-360deg);
		-webkit-transform: rotateY(-360deg);
	}
}

#image {
	margin: 0 auto;
	height: 300px;
	width: 400px;
  transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
  animation: spin 24s infinite linear;
  -moz-animation: spin 24s infinite linear;
  -o-animation: spin 24s infinite linear;
	-webkit-animation: spin 24s infinite linear;
}

.image {
	position: absolute;
	height: 300px;
	width: 400px;
  border-radius: 25px;
	background-color: #10f82fa8;
	text-align: center;
	font-size: 20em;
	color: #fff;
}

#image > .i1 {
  transform: translateZ(485px);
  -moz-transform: translateZ(485px);
  -o-transform: translateZ(485px);
  -ms-transform: translateZ(485px);
  -webkit-transform: translateZ(485px);
}
#image > .i2 {
  transform: rotateY(45deg) translateZ(485px);
  -moz-transform: rotateY(45deg) translateZ(485px);
  -o-transform: rotateY(45deg) translateZ(485px);
  -ms-transform: rotateY(45deg) translateZ(485px);
  -webkit-transform: rotateY(45deg) translateZ(485px);
}
#image > .i3 {
  transform: rotateY(90deg) translateZ(485px);
  -moz-transform: rotateY(90deg) translateZ(485px);
  -o-transform: rotateY(90deg) translateZ(485px);
  -ms-transform: rotateY(90deg) translateZ(485px);
  -webkit-transform: rotateY(90deg) translateZ(485px);
}
#image > .i4 {
  transform: rotateY(135deg) translateZ(485px);
  -moz-transform: rotateY(135deg) translateZ(485px);
  -o-transform: rotateY(135deg) translateZ(485px);
  -ms-transform: rotateY(135deg) translateZ(485px);
  -webkit-transform: rotateY(135deg) translateZ(485px);
}
#image > .i5 {
  transform: rotateY(180deg) translateZ(485px);
  -moz-transform: rotateY(180deg) translateZ(485px);
  -o-transform: rotateY(180deg) translateZ(485px);
  -ms-transform: rotateY(180deg) translateZ(485px);
  -webkit-transform: rotateY(180deg) translateZ(485px);
}
#image > .i6 {
  transform: rotateY(225deg) translateZ(485px);
  -moz-transform: rotateY(225deg) translateZ(485px);
  -o-transform: rotateY(225deg) translateZ(485px);
  -ms-transform: rotateY(225deg) translateZ(485px);
  -webkit-transform: rotateY(225deg) translateZ(485px);
}
#image > .i7 {
  transform: rotateY(270deg) translateZ(485px);
  -moz-transform: rotateY(270deg) translateZ(485px);
  -o-transform: rotateY(270deg) translateZ(485px);
  -ms-transform: rotateY(270deg) translateZ(485px);
  -webkit-transform: rotateY(270deg) translateZ(485px);
}
#image > .i8 {
  transform: rotateY(315deg) translateZ(485px);
  -moz-transform: rotateY(315deg) translateZ(485px);
  -o-transform: rotateY(315deg) translateZ(485px);
  -ms-transform: rotateY(315deg) translateZ(485px);
  -webkit-transform: rotateY(315deg) translateZ(485px);
}

img {
  border-radius: 25px;
}

.portfolioImg {
	height: 300px;
  width: 400px;
  box-shadow: 0px 0px 25px #57ee31;
}

.skills-page {
  height: 100vh;
  background: #242323;
	color: #00b300;
}